{% extends '::base.html.twig' %}

{% block title %}Area amminsitrazione - {{ parent() }}{% endblock %}

{% block body %}

    <div class="sidebar"></div>
    <div class="content">
        {% block content %}{% endblock %}
    </div>

{% endblock %}